<ul class="nav justify-content-center">

  <img src="../assets/nero-low-resolution-logo-color-on-transparent-background.png" alt="img">
  <li class="nav-item">
    <a class="nav-link" href="#">About</a>
  </li>
 
  <li class="nav-item">
    <a class="nav-link" href="#">Buy & Sell</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">NFT'S</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">Nero</a>
  </li>




  <button type="button" class="btn btn-primary btn-sm">Sign In</button>
  <button type="button" class="btn btn-secondary btn-sm">Get Started</button>
</ul>
<router-outlet></router-outlet>
