img{
    width: 40px;
margin-right: 200px;
margin-top: 10px;

  }
  li{
    margin-top: 15px;
    color: rgb(203, 121, 13);
  }
  .btn-primary{
    margin-top: 20px;
    margin-bottom: 10px;
   margin-right: 10px;
   border-radius: 50px;
   margin-left: 100px;
  }

  .btn-secondary{
    margin-top: 20px;
    margin-bottom: 10px;
   margin-right: 10px;
   border-radius: 50px;
  }
  a{
    color: rgb(9, 7, 5);
  }