<ul class="nav justify-content-center">

  <img src="../assets/nero-low-resolution-logo-color-on-transparent-background.png" alt="img">
  <li class="nav-item">
    <a class="nav-link" href="#">About</a>
  </li>
 
  <li class="nav-item">
    <a class="nav-link" href="#">Buy & Sell</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">NFT'S</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">Nero</a>
  </li>

  <button type="button" class="btn btn-light btn-sm"> &nbsp; Sign In &nbsp;</button>
  <button type="button" class="btn btn-secondary btn-sm"> &nbsp; Get Started &nbsp; </button>

</ul>

<div class="container">
  <div class="row equal-height-container">
    <div class="col content">
      <h2>Nero to Hero</h2>
      <p>Buy & Sell Crypto.</p>
      <p>Mint and Sell NFts.</p>
      <button type="button" class="btn btn-secondary btn-sm"> &nbsp; Explore Crypto &nbsp; </button>

    </div>
    <div class="col image-container">
      <!-- Replace "your-image-url.jpg" with the actual URL of your image -->
      <img src="your-image-url.jpg" alt="Image">
    </div>
  </div>
</div>
<router-outlet></router-outlet>
